#root {
 margin: 0;
 padding: 0;
}
/*
body{
    /*background: radial-gradient(circle, #000000 0%, rgba(23,20,56,1) 50%, rgba(17,15,71,1) 100%);
    background-color: rgba(184, 184, 200, 0.182);
}

.day {
    background-color: rgba(184, 184, 200, 0.182);
}

.night {
    background: radial-gradient(circle, #000000 0%, rgba(23, 20, 56, 1) 50%, rgba(17, 15, 71, 1) 100%);
}*/