.nav {
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}

.nav .lenguaje {
  width: 20%;
}

.iconDN {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav .navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.iconMoonDay {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.iconMoonDay:hover {
  transform: scale(1.2);
}

.iconDN img {
  display: block;
}

.nav .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.name {
  color: #0656ab;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-size: larger;
}

.nav a:hover {
  color: blue; /* Cambia el color del texto al pasar el ratón sobre el enlace */
}

.nav p {
  margin: 0 10px;
  color: #6c757d;
}

.name{
  display: none;
}

.iconDN {
  display: none;
}

/* Mostrar elementos en pantallas más grandes */
@media (min-width: 768px) {
  .name{
    display: block;
  }
  .lenguaje{
    display: block;
  }
  .iconDN {
    display: block;
  }
}

/* Ajustar estilos para dispositivos móviles */
@media (max-width: 767px) {
  .nav {
    padding: 10px;
    margin-right: 0; /* Eliminar margen derecho en móviles */
  }

  .nav a {
    font-size: medium; /* Reducir tamaño de fuente en móviles */
  }


  .nav .navLinks {
    width: 100%; /* Asegurar que los enlaces ocupen todo el ancho */
    justify-content: space-between; /* Distribuir enlaces uniformemente */
  }
}